body, html{
 height: 100%;
 margin: 0;
}

/* Style the header */
header{
    padding: 30px;
}

.header-text{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  color: white;
}

.p-1{
  font-size: large;
  text-align: center;
  margin: 10px;
}

.background-containter{
  background-image: url('https://github.com/NyzheirTS/PersonalWebsiteNY/blob/main/Images/lake-view.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

