body, html{
 height: 100%;
 margin: 0;
}

/* Style the header */
header{
   padding-top: 200px;
}

.header-text{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 5.5em;
  text-align: center;
  color: #0a0312;
}

.p-1{
  font-size: large;
  text-align: center;
  margin: 30px;
}


/* background styling*/
/*
body::after{
  position:absolute; z-index: -1;
  content: url("https://github.com/NyzheirTS/PersonalWebsiteNY/blob/f82e723e6be861d526da80e36b9b953704823d9b/Images/lake-view.jpg?raw=true");
}
*/
.background-container{
  background-image: url("https://github.com/NyzheirTS/PersonalWebsiteNY/blob/f82e723e6be861d526da80e36b9b953704823d9b/Images/lake-view.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
/*
links to other possible backgrounds for quick switching

https://github.com/NyzheirTS/PersonalWebsiteNY/blob/b1dd6d3012bcb4b68848fad892e3a4277fb49faf/Images/GalWide.jpeg?raw=true
https://github.com/NyzheirTS/PersonalWebsiteNY/blob/f82e723e6be861d526da80e36b9b953704823d9b/Images/4kbgimg.jpeg?raw=true
https://github.com/NyzheirTS/PersonalWebsiteNY/blob/f82e723e6be861d526da80e36b9b953704823d9b/Images/lake-view.jpg?raw=true
https://github.com/NyzheirTS/PersonalWebsiteNY/blob/b1dd6d3012bcb4b68848fad892e3a4277fb49faf/Images/Gaxy1.jpeg?raw=true
*/
}

/* Nav bar style*/

.home{
  text-decoration:none;
  color: rgb(255, 255, 255);

}
.projects{
  text-decoration: none;
  color: white;
}

/* VVV scrollbar customization VVV */
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: none;
}
::-webkit-scrollbar-thumb{
  background: white;
}
::-webkit-scrollbar-thumb:hover{
  background: #e0e0e0;
}
