

/* Style the header */
header{
    padding: 30px;
}

.header-text{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  color: white;
}

body{
  background-repeat: no-repeat;
  background-size:cover;
  height: 100%;
  background-position: center;
  overflow: hidden;
  color: white;
}